:root {
    --erroColor: #f00e0e;
    --validColor: #0add0a;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    position: relative;
    border-radius: 3px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-content-left {
    background: linear-gradient(90deg, rgba(247, 74, 70, 1) 0% rgba(236, 43, 0, 1) 100%);
}

#modal-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}